<!DOCTYPE html>
<html>
  <head>
    <title><%= id %></title>
  </head>
  <body>
    <h1><%= id %></h1>
    <p>Play List</p>
    <ol>
        <li>first</li>
        <li>second</li>
        <li>third</li>
    </ol>
  </body>
</html>
