<!DOCTYPE html>
<html>
  <head>
    <title><%= id %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= id %></h1>
    <ol>
        <li>first</li>
        <li>Second</li>
        <li>Third</li>
    </ol>
  </body>
</html>